/* QUIENES SOMOS */
body {
  background: #f6f6f6; /* Ver si luego le aplicamos este mismo background al resto de las pages */
}
#quienes-somos {
  margin: 92px 0 0 0;
}
#quienes-somos .row {
  text-align: justify;
}
#quienes-somos .nav-tabs {
  border-bottom: 1px solid #dee2e6;
  justify-content: center;
  margin: 130px 0 0 0;
}
#quienes-somos .nav-link {
  color: var(--secondary-color);
  font-family: grotesk-bold;
}
.row1,
.row2,
.row3,
.row4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1.2rem;
}
/* .row1 .col-md-2,
.row2 .col-md-2,
.row3 .col-md-2,
.row4 .col-md-2 {
  flex: 1;
} */
#referentes {
  margin: 0 0 10px 0;
}

#referentes .col-md-2,
#referentes .col-6 {
  padding: 0.5rem;
  margin: 0 1rem;
}
#referentes .row:nth-child(4) {
  justify-content: center;
}

.card-referente {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  box-shadow: var(--box-shadow-main);
  background: white;
  transition: 0.2s ease-in;
  width: 100%;
}
.card-referente:hover {
  transform: translateY(-0.3rem);
}
.card-referente img {
  width: 100%;
  border-radius: 7px 7px 0 0;
}
.card-referente span {
  text-align: center;
  margin: 1rem 0 0 0;
  font-family: "grotesk-regular";
}

.card-referente i {
  font-size: 1.3rem;
  text-align: center;
}

.box-redes {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin: 1rem 0rem 1rem 0;
}

#cta {
  text-align: center;
  margin: 20px 0 100px 0;
}

@media (max-width: 768px) {
  #quienes-somos .subtitle {
    text-align: center;
  }
  #quienes-somos .title {
    font-size: 1.6rem;
  }
  #quienes-somos .title2 {
    font-size: 1.2rem;
  }
  #referente {
    margin: 92px 0 150px 0;
  }
  .title-referente {
    margin: 1.5rem 0 1.5rem 0;
    text-align: center;
  }
  .descripcion-referente {
    margin: 1rem;
    text-align: justify;
  }
  .redes-referente .col-md-3 {
    display: flex;
    justify-content: center;
  }
  #referentes .col-md-2,
  #referentes .col-6 {
    padding: 0.7rem;
    margin: 0 0rem;
  }
}
